@tailwind base;
@tailwind components;
@tailwind utilities;

/* 暗色模式适配 */
@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
}

/* 亮色模式适配 */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #212121;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   /* 覆盖组件字体大小 */
  --van-font-size-xs: 20px !important;
  --van-font-size-sm: 24px !important;
  --van-font-size-md: 28px !important;
  --van-font-size-lg: 32px !important;
  --van-font-size-xl: 36px !important;


  /* actionsheet 字体 */
  --van-action-sheet-item-font-size: 28px !important;
  --van-action-sheet-item-line-height: 46px !important;

  /* 按钮字体 */
  --van-button-small-height: 64px !important;
  --van-button-large-height: 92px !important;
  --van-button-round-border-radius: 12px !important;

  /* checkbox */
  --van-checkbox-size: 36px !important;
  --van-checkbox-label-margin: 32px !important;
  --van-checkbox-label-margin: 10px !important;

  /* cell  */
  --van-cell-icon-size: 24px !important;

  /* badge */
  --van-badge-padding: 2px 10px !important;

  /* skeleton */
  --van-skeleton-row-height: 32px !important;

  /* stepper */
  --van-stepper-border-radius: 10px !important;
  --van-stepper-input-height: 66px !important;
  --van-stepper-input-width: 120px !important;

  /* dialog */
  --van-dialog-width: 70vw !important;
  --van-dialog-button-height: 92px !important;

  /* form */
  --van-field-error-message-font-size: 24px !important;

  /* picker */
  --van-picker-toolbar-height: 60px !important;
  --van-picker-cancel-action-color: #333 !important;
  --van-picker-confirm-action-color: #FF356D !important;
  --van-picker-action-padding: 20px !important;

  /* loading */
  --van-button-loading-icon-size: 40px !important;

  /* tabbar */
  --van-tabbar-height: 120px !important;
  --van-tabbar-item-line-height: 60px !important;
  --van-tabbar-item-font-size: 40px !important;

  --van-field-icon-size: 38px !important;

  --van-tag-line-height: 40px !important;
  
  --van-list-text-line-height: 64px !important;

  --van-notify-line-height: 40px !important;
}
.van-dialog__message{
  line-height: normal
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.van-dialog .van-dialog__content {
  padding: 60px 0 !important;
}

